{
  "plugins": [
    "react-require",
    [
      "auto-import",
      {
        "declarations": [
          {
            "default": "React",
            "path": "react"
          }
        ]
      }
    ]
  ]
}